html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    background: grey;
}

.inner-container {
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin: auto;
    background: white;
    padding: 20px;
}

.main-menu,
.game-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background: grey;
    border-radius: 4px;
    text-align: center;
}

.main-menu-button,
.game-button {
    width: 100%;
    max-width: 400px;
    height: 40px;
    margin-bottom: 20px;
}

.game-menu {
    display: none;
}