html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    background: grey;
}

.inner-container {
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin: auto;
    background: white;
    padding: 20px;
}

.game-container {
    width: 100%;
    height: 100%;
    /* margin-top: -3em; */
}

.main-menu,
.game-menu,
.end-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background: grey;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.main-menu-button,
.game-button,
.blocker {
    width: 100%;
    max-width: 400px;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-menu,
.blocker {
    display: none;
}

.blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: white;
}

.score-wrapper {
    display: flex;
    justify-content: center;
}

.score-label {
    text-align: left;
    width: 200px;
}

.score-value {
    width: 50px;
}

.score-child {
    padding-left: 30px;
}